* {
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  color: #777777;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  background-attachment: fixed;
}

body {
  content: "";
  color: sandybrown;
  background-image: images();
  background: url("../img/n.webp");
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: 1;
}

:root {
  --navbar_2-height: 50px;
}

.navbar_1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar_1::before {
  content: "";
  color: rgb(255, 231, 164);
  background-color: rgb(255, 245, 203);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

#logo {
  width: 150px;
}

#logo img {
  width: 100px;
  padding: 10px 0px;
  margin-left: 30px;
}

.Mainmiddlepart {
  width: 90%;
}

.nav1donationpart {
  width: 150px;
  margin: auto;
  margin-top: 20px;
  padding-left: 30px;
  align-items: center;
}

.Navbar_1_Donation_pay_button {
  color: rgb(245, 244, 243);
  background-color: rgb(243, 163, 87);
  border-color: rgb(243, 163, 87);
  border-radius: 15px;
  padding: 8px;
  outline: none;
  width: 100px;
}

.Navbar_1_Donation_pay_button:hover {
  color: rgb(245, 244, 243);
  background-color: rgb(233, 125, 23);
  border-color: rgb(233, 125, 23);
  border-radius: 15px;
  padding: 8px;
  outline: none;
  width: 100px;
}

.MainHeading {
  margin: auto;
  width: 200px;
  align-items: center;
  text-align: center;
  padding: 0px 3px;
  background-color: rgb(243, 58, 12);
  border: 2px solid black;
}

.MainHeading:hover {
  opacity: 0.8;
  background-color: rgb(247, 119, 88);
}

#MainClick a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.navbarItem {
  display: flex;
  position: relative;
  align-items: center;
}

.topnav {
  overflow: hidden;
  box-shadow: 0px 0px 24px 15px #e78a39;
  margin: auto;
}

.topnav a {
  background-color: white;
  float: left;
  color: rgb(233, 125, 23);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: rgb(233, 125, 23);
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  font-weight: bold;
  padding: 16px 16px;
  background-color: inherit;
  color: rgb(233, 125, 23);
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(233, 125, 23);
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: rgb(167, 5, 5);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar_2 {
  display: block;
  align-items: baseline;
  position: relative;

}

.navbar_2::before {
  content: "";
  color: sandybrown;
  background-image: images();
  background: url("../img/2.jpg")no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

.navbar_3_MiddlePartcontent {
  content: "";
  color: sandybrown;
  background-image: images();
  background: url("../img/image40.jpg")no-repeat center center/cover;
  position: relative;
  opacity: 0.9;
}

.navbar_3_middle_image_slider_container {
  width: 47%;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

.navbar_3_middle_image_slider {
  text-align: center;
}

.navbar_3_middle_dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.navbar_3_middle_active {
  background-color: #717171;
}

.navbar_3_middle_fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.navbar_3_loginPart_middle {
  background-color: white;
  width: 300px;
  height: 45px;
  display: flex;
  position: relative;
  align-items: center;
  margin: auto;
}

.login_loginPart {
  width: 200px;
  margin: auto;
  display: flex;
  position: relative;
  align-items: center;
}

.login_loginPart ul {
  display: flex;
  margin: auto;
}

.login_loginPart ul li {
  list-style-type: none;
  padding: 12px 10px;
}

.login_loginPart ul li a {
  text-decoration: none;
  color: rgb(240, 234, 229);
  background: rgb(255, 133, 63);
  font-size: 14px;
  padding: 10px 10px;
}

.login_loginPart ul li button {
  text-decoration: none;
  color: rgb(240, 234, 229);
  background: rgb(255, 133, 63);
  font-size: 14px;
  padding: 10px 10px;
  border: 1px solid rgb(255, 133, 63);
}

.login_loginPart ul li a:hover {
  background: rgb(255, 133, 63);
  color: rgb(255, 255, 255);
}

.navbar_4_MIddlePartcontent {
  width: 500px;
  height: 200px;
  background-color: red;
  margin: auto;
  border-radius: 12px;
  margin-top: 30px;
  box-shadow: 0px 0px 24px 15px #f97708;
}

.inpartnavbar_4 {
  font-size: 25px;
  color: #2d2418;
  text-align: center;
  padding-top: 18px;
}

.Home_diveder_content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Home_content {
  width: 900px;
  height: 250px;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  background-color: rgb(78, 37, 39);
  border-radius: 30px;
  box-shadow: 4px 10px 27px 17px #92512bd9;
}

.Home_Quote {
  text-align: center;
  padding: 50px 0;

}

.Home_Quote h2 {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.Home_Quote h3 {
  color: #f1e0e0;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}

.Home_Donation_Primary_Content {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}

.Home_Donation_Content {
  background-color: rgba(255, 171, 0, 0.9) !important;
  padding: 40px !important;
  width: 600px;
  height: 340PX;
  outline: none !important;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #333333;
  font-size: 18px;
}

.form_text_color {
  color: white;
}

.form-group_donation {
  margin-bottom: 18px !important;
}

.Donation_form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 15px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}

.Donation_pay_button {
  color: #fff;
  background-color: #090909;
  border-color: #000000;
  padding: 10px;
  outline: none;
  width: 100px;
}


.AddsampleVideo___1 {
  background-color: #f7ec8e;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.AddsampleVideo___1 iframe {
  background-color: NONE;
  border: none;
  padding: 20PX;
}


.Home_image_main_column {
  background-color: rgb(248, 216, 74);
  padding: 30px;
  border: 3px solid red;
  margin-bottom: 30px;
}

.Home_image_main_row {
  width: 400px;
  height: auto;
  padding: 30px;
  display: inline-block;
}

.Home_Second_footer {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: 400px;
  background-color: rgb(37, 39, 46)
}

.Home_Main_footer {
  background-color: #FFAB00;
  display: block;
  color: white;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid red;
}

.HomePage_Last_footer_2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #df4600;
  padding-top: 7px;
  color: white;
  text-align: center;
}
